body {
  margin: 0;
}

* {
	box-sizing: border-box;
}

header {
    background: rgb(215, 212, 212); 
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.main-header,
.dropdown {
	display: flex;
}

.main-header {
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

header h1,
.main-nav a{
	font-size: 1em;
	text-align: center;
	display: block;
	padding: 10px 30px;
	color: black;
}

.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
}
  
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	right: 0;
	top: 0;
	height: 100vh;
	min-width: 200px;
	z-index: 1;
	position: fixed;
	background-color: white;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-align: left;
	display: block;
}

.closebtn{
	position: fixed;
	right: 0px;
}

.main-nav{
	display: none;
} 

.banner {
	background: #a7d1f1;
	padding: 3.2em 0;
	margin-bottom: 48px;
}

.row {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box{
	background: gray;
	margin:1%;
	width: 80%;
	height:15vh;
}
.button{
	margin: 20px 0px;
}
button{
	background-color:#a7d1f1;
	border-color: #a7d1f1;
	border-style: solid;
	padding: 1%;
}

.banner, 
section h2,
section div p,
.button
{
	text-align: center;
}


@media (min-width: 500px) {
	
	.container{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content:space-evenly;
	}
	.box{
		width:47%;
	}
}


@media (min-width: 800px) {

	.dropdown{
		display: none;
	}

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-nav {
		display: flex;
	}
	
}


